// ================================================================
//      SELL
// ================================================================

#purchase {
  margin-top: 50px;
}

.purchase {
  width: 500px;
  margin: 0 auto;
}
