
// ==========================================================================
//                   SRV SECTION CODE
// ==========================================================================
#srvheader {
    background-image: url('../../images/about-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0px;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($black, 0.45);
    }

    h1 {
        font-size: em(32px);
        font-weight: $font-weight--xxl;
        text-align: center;
        color: $qpick__accent;
        text-shadow: 0 0 10px rgba($qpick__black, 0.5);
        position: relative;
        z-index: 3;

        @include mq('md') {
            font-size: em(62px);
        }
    }
}

#srvsection {
    margin: 80px 0px;
}

.srvsection {
    .srvheadings {
        @include mq('lg') {
            width: 65%;
            margin: 0 auto;
            text-align: center;
            padding: 30px 30px 40px;
        }

        h2 {
            font-size: 32px;
            font-weight: $font-weight--lg;
            line-height: em(30px, 32px);
            text-transform: capitalize;

            @include mq('lg') {
                font-size: em(42px);
                line-height: em(38px, 42px);
                margin: 0px 0px 15px;
            }
        }
    }

    &-images {
        overflow: hidden;
        img {
            transition: 15% 12%;
            transition: transform 0.4s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    
    &-card {
        border-radius: 4px;
        box-shadow: 2px 0 20px 0px rgba($qpick__black, 0.14);

        article {
            padding: 20px;

            h3 {
                font-size: em(17px);
                font-weight: $font-weight--lg;
                line-height: em(30px, 20px);
                margin: 0 0 15px;
                text-transform: capitalize;
            }

            p {
                font-weight: $font-weight--xs;
                font-size: em(15px);
                line-height: em(28px, 15px);
            }
        }
    }
}

#sevhelps {
    background-color: $qpick__white;
    padding: 50px 20px;
    border-top: 1px solid lighten($color:$border, $amount: 6%);
    border-bottom: 1px solid lighten($color:$border, $amount: 6%);
}

.sevhelps {
    .btn-callus {
        background-color: $qpick__black;
        color: $qpick__accent;
        border-radius: 30px;
        display: inline-block;
        padding: 7px 20px;
        text-transform: uppercase;
        font-size: em(25px);
        font-weight: $font-weight--xs;
        margin-top: em(30px, 25px);
        margin-bottom: em(30px, 25px);
    }

    &--desk {
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            border-radius: $br-roundy;
            border: 2px solid darken($qpick__grey, 7%);
        }

        h4 {
            margin: 0;
            font-size: em(17px);
            font-weight: $font-weight--sm;
            line-height: em(26px, 18px);
            margin-top: em(12px, 17px);
        }

        span {
            display: block;
            font-size: em(14px);
            font-weight: $font-weight--xs;
            letter-spacing: $letter-space;
        }
    }
}